.top{
  background-color: yellow;
  margin-top: 0;
}
body{
  margin: 0;
}


.middle{
  background-color: red;
  height: 200px;
  width: 200px;
}
.bottom{
  background-color: blue;
  height: 200px;
  width: 200px;
}
